/*
 * Globals
 */

@font-face {
  font-family: Vendome;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: local("Vendome-Reg"), local("Vendome-Reg"), url(Vendome-Reg.woff2) format("woff2"), url(Vendome-Reg.woff) format("woff"), url(Vendome-Reg.ttf) format("truetype")
}

body {
  background: url(smoke-center-SM.jpg) no-repeat 50%;
  opacity: 0.9;
}

header.mb-auto {
  margin-bottom: 4vh !important;
  margin-top: 2vh !important;
}

h3.mb-0 {
  text-transform: uppercase;
  letter-spacing: .03em;
  font-family: Vendome, Times, Times Roman, Times New Roman, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.0625rem;
}

.ark-sprite {
  width: 313px;
  height: 30px;
  filter: drop-shadow(0 0 6px #000000);
  background: url(lost-ark-sprites.png) 0 0 no-repeat;
  margin: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

.image-blurred-edge {
  background-image: url('lostark.webp');
  width: 800px;
  height: 450px;
  position: relative;
  margin: auto;
  border: 1px solid #a9dbe5;
  border-radius: 40%;
  filter: drop-shadow(2px 4px 6px #212529);
  box-shadow: 0 0 4px 8px #212529 inset;
}

.la-form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 203px;
  padding-left: 185px;
}

.la-form input {
  height: 25px;
  width: 108px;
  margin: auto;
  font-size: 12px;
  color: #138eb3;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0px 1px 5px #409762;
}

.la-form a {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 81px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}

table.table-dark {
  transition: height 3s ease, opacity 2s linear;
  position: absolute;
  right: -4px;
  left: 0;
  opacity: 0.7;
  top: 352px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 481px;
  height: 0px;
  table-layout: fixed;
  overflow: hidden;
  background: url(smoke-center-SM.jpg) no-repeat 50%;
  filter: brightness(0.8);
  border-top-right-radius: 50px;
}

span.growl-notification__close-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' enable-background='new 0 0 24 24' xml:space='preserve'%3E%3Cg id='Bounding_Boxes'%3E%3Cpath fill='none' d='M0,0h24v24H0V0z'/%3E%3C/g%3E%3Cg id='Outline_1_'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41z'/%3E%3C/g%3E%3C/svg%3E")!important;
}

table.table-dark.shown {
  height: 287px;
  opacity: 1;
}

td {
  font-weight: bolder;
  text-shadow: 0px 1px 5px #5894c1;
  color: #ffffff;
}

table.table-dark th {
  width: 30px;
  height: 30px;
  background: linear-gradient(359deg, #565656, #000000f0);
  border-bottom: 2px solid #fff0a7;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  filter: drop-shadow(2px 4px 6px black);
  text-shadow: 0 0 13px white;
}

.black-box {
  width: 111px;
  height: 30px;
  background: linear-gradient(2deg, #1e1e1ef0, black);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  margin-bottom: 121px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  font-family: cursive;
  line-height: 30px;
  left: 0;
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}